
@import url("../vendor/styles/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../vendor/styles/global.css");

@import url("../blocks/header/header.css");
@import url("../blocks/main/main.css");
@import url("../blocks/connection/connection.css");
@import url("../blocks/info/info.css");
@import url("../blocks/sn/sn.css");
@import url("../blocks/order/order.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/popup/popup.css");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.root {
  font-family: var(--font-family-main);
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
div,
span,
button {
  text-decoration: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

ul,
ol,
li,
a {
  list-style: none;
}

a:visited {
  color: var(--bg-color)
}

a,
button {
  cursor: pointer;
}